::-webkit-scrollbar {
    width: 6px;
  
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5a646c;
    border-radius: 100px;
  }
  